parameters:
	disallowedClasses:

		# ContainerBindingsRegistry
		-
			class: Fundrik\WordPress\Infrastructure\Migrations\MigrationRunner
			message: 'Use Fundrik\WordPress\Kernel\Ports\MigrationRunnerPort instead.'
			allowIn:
				- src/php/Kernel/Container/ContainerBindingsRegistry.php

		-
			class: Fundrik\WordPress\Integration\WpdbDatabase
			message: 'Use Fundrik\WordPress\Infrastructure\Database\DatabaseInterface instead.'
			allowIn:
				- src/php/Kernel/Container/ContainerBindingsRegistry.php

		-
			class: Fundrik\WordPress\Integration\WordPressOptionsStorage
			message: 'Use Fundrik\WordPress\Infrastructure\StorageInterface instead.'
			allowIn:
				- src/php/Kernel/Container/ContainerBindingsRegistry.php

		-
			class: Fundrik\WordPress\Infrastructure\Repositories\CampaignRepository
			message: 'Use Fundrik\Core\Components\Campaigns\Application\Ports\CampaignRepository\CampaignRepositoryPort instead.'
			allowIn:
				- src/php/Kernel/Container/ContainerBindingsRegistry.php

		-
			class: Fundrik\WordPress\Integration\WordPressContext\WordPressContext
			message: 'Use Fundrik\WordPress\Integration\WordPressContext\WordPressContextInterface instead.'
			allowIn:
				- src/php/Kernel/Container/ContainerBindingsRegistry.php

		-
			class: Monolog\Logger
			message: 'Use Psr\Log\LoggerInterface instead.'
